<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498755511351-s0tmigotgssqpm0nda4ies1lgjoqok7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498755511351-s0tmigotgssqpm0nda4ies1lgjoqok7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAiAqua36eQ4iQGXO7u9CMWxnbB0dBQJJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>498755511351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.florianperhati1.Eventish</string>
	<key>PROJECT_ID</key>
	<string>eventish-ce5ea</string>
	<key>STORAGE_BUCKET</key>
	<string>eventish-ce5ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498755511351:ios:c0bd49e09c3750dcf20bb2</string>
	<key>DATABASE_URL</key>
	<string>https://eventish-ce5ea.firebaseio.com</string>
</dict>
</plist>